<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Inflation Calc WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Inflation Calculator Watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Inflation Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2EA682351A5CBD2400F39ECF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EA6823F1A5CBD2400F39ECF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EE6B10419E0466F0025D4C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EE6B11919E046700025D4C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EE9C1CA1C1E40270009BCBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
